spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        ### Product service
        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/api/v1/product/**, /api/v1/category/**
        ### Order service
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/api/v1/order/**
        ### Discovery server: http://localhost:8080/eureka/web
        - id: discovery-service
          uri: http://localhost:8761
          predicates:
            - Path=/eureka/web
          filters:
            - SetPath=/
        ### Discovery server static resource: http://localhost:8080/eureka/web
        - id: discovery-service-static
          uri: http://localhost:8761
          predicates:
            - Path=/eureka/**
  main:
    web-application-type: reactive
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8180/auth/realms/stationery-realm

eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka

logging:
  level:
    org:
      springframework:
        cloud:
          gateway: TRACE
          gateway.route.RouteDefinitionRouteLocator: INFO
        security: DEBUG
    root: INFO

