server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3307/order-service
    username: admin
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.MySQL5Dialect
  application:
    name: order-service

eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka