server:
  port: 8080

spring:
  data:
    mongodb:
      host: localhost
      port: 27017
      database: product-service
      username: admin
      password: admin
      authentication-database: admin
      auto-index-creation: true
  application:
    name: product-service

eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka

logging:
  level:
    org:
      springframework:
        data:
          mongodb:
            core:
              MongoTemplate: DEBUG
        web:
          filter:
            CommonsRequestLoggingFilter: DEBUG
